html{
  background: #1e5799;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#a50f15), color-stop(75%,#fb6a4a));
  background: -webkit-linear-gradient(45deg,  #a50f15 25%, #fb6a4a 75%);
  background:    -moz-linear-gradient(45deg,  #a50f15 25%, #fb6a4a 75%);
  background:     -ms-linear-gradient(45deg,  #a50f15 25%, #fb6a4a 75%);
  background:      -o-linear-gradient(45deg,  #a50f15 25%, #fb6a4a 75%);
  background:         linear-gradient(45deg, #a50f15 25%, #fb6a4a 75%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a50f15', endColorstr='#fb6a4a',GradientType=0 );
  background-attachment: fixed;
  text-align: center;
  padding: 0;
  font: helvetica
}

header {
  background-color: #ffffff;
  width:100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mainLogo {
  width: 20%;
  padding-left: 15px;
}

.menuButton{
  width: 50px;
  height: 50px;
}

.container{
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.sheet {
  padding:25px;
  text-align: center;
  width: 65%;
  background-color: #000;
  margin:auto;
  border-radius: 10px;
  color: #fff;
}

.dashboard{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboardChild{
  flex-basis: 50%;
}

